In [1]:
import pandas as pd
import numpy as np
import csv

with open('Origin_and_Destination_Survey_DB1BCoupon_2022_1.csv', 'r') as file:
    df1 = pd.read_csv(file)
df1.columns

Index(['ItinID', 'MktID', 'SeqNum', 'Coupons', 'Year', 'OriginAirportID',
       'OriginAirportSeqID', 'OriginCityMarketID', 'Quarter', 'Origin',
       'OriginCountry', 'OriginStateFips', 'OriginState', 'OriginStateName',
       'OriginWac', 'DestAirportID', 'DestAirportSeqID', 'DestCityMarketID',
       'Dest', 'DestCountry', 'DestStateFips', 'DestState', 'DestStateName',
       'DestWac', 'Break', 'CouponType', 'TkCarrier', 'OpCarrier', 'RPCarrier',
       'Passengers', 'FareClass', 'Distance', 'DistanceGroup', 'Gateway',
       'ItinGeoType', 'CouponGeoType', 'Unnamed: 36'],
      dtype='object')

In [8]:
data = df1[[ 'Origin',
             'OriginState',
           'Dest', 'DestState', 
           'Break', 'CouponType', 'TkCarrier', 'OpCarrier', 'RPCarrier',
           'Passengers', 'FareClass', 'Distance', 'DistanceGroup', 'Gateway',
           'ItinGeoType', 'CouponGeoType', 'Unnamed: 36']].copy()

In [11]:
# data.head()
data[data.Break == 'X'].head()

,Origin,OriginState,Dest,DestState,Break,CouponType,TkCarrier,OpCarrier,RPCarrier,Passengers,FareClass,Distance,DistanceGroup,Gateway,ItinGeoType,CouponGeoType,Unnamed: 36
28,JFK,NY,PHX,AZ,X,A,AA,AA,AA,1.0,X,2153.0,5,0.0,2,2,NaN
104,GSO,NC,ATL,GA,X,A,DL,DL,DL,1.0,X,306.0,1,0.0,2,2,NaN
109,MKE,WI,SLC,UT,X,A,DL,DL,DL,1.0,X,1247.0,3,0.0,2,2,NaN
135,JAN,MS,ATL,GA,X,A,DL,DL,DL,1.0,X,341.0,1,0.0,2,2,NaN
162,SLC,UT,MSP,MN,X,A,DL,DL,DL,1.0,X,991.0,2,0.0,2,2,NaN